PharmaIA_Alert.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "model": "openrouter/free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        32,
        -80
      ],
      "id": "2f04e402-5e90-4b14-873d-cd952cc09d3e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "jhrBO09UHFk3ATtP",
          "name": "OpenRouter account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá! Sou o assistente da farmácia. Posso ajudar você a:\n- Consultar disponibilidade de medicamentos\n- Cadastrar novos medicamentos no estoque\n- Verificar informações de clientes\n- Cadastrar interesse em medicamentos",
        "options": {
          "inputPlaceholder": "Digite sua pergunta...",
          "showWelcomeScreen": true,
          "getStarted": "Iniciar Conversa",
          "subtitle": "Consulte estoque e gerencie medicamentos",
          "title": "Assistente Farmácia",
          "responseMode": "streaming"
        }
      },
      "id": "05610f41-c3e9-4520-a5bc-6e5ee5f4086e",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -176,
        -176
      ],
      "webhookId": "264c88a4-11be-44c2-8e50-e89df3cfec72"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Você é um assistente de farmácia inteligente. Você tem acesso a ferramentas para:\n\n1. Read Stock Tool - Consultar o estoque de medicamentos (retorna lista com Medicamento e Quantidade)\n2. Read Clients Tool - Consultar clientes cadastrados (retorna Cliente, Telefone, Email, Medicamento, Status)\n3. Update Stock Tool - Atualizar quantidade de medicamentos no estoque (requer medicamento e quantidade)\n4. Add Client Tool - Cadastrar cliente interessado em medicamento (requer cliente, telefone, email, medicamento)\n\nInstruções:\n- Sempre consulte o estoque antes de responder sobre disponibilidade\n- Quando um medicamento está com quantidade 0, ofereça cadastrar o cliente para notificação\n- Para cadastrar cliente, pergunte nome, telefone e email\n- Seja cordial, direto e profissional\n- Não invente informações - use apenas dados das ferramentas\n- Quando atualizar estoque, confirme a operação\n\nExemplos de uso:\n- \"Tem Dipirona?\" → Use Read Stock Tool e informe a quantidade\n- \"Adicionar 20 unidades de Paracetamol\" → Use Update Stock Tool\n- \"Qual o email do João?\" → Use Read Clients Tool e busque o cliente\n- Cliente quer ser avisado → Use Add Client Tool após coletar dados"
        }
      },
      "id": "108892c3-9602-4c62-9879-5d41457eb15c",
      "name": "Pharmacy Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        -240
      ]
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "8ac5b2b8-6463-43cd-b05d-3f0d842472cf",
      "name": "Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        208,
        32
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU",
          "mode": "list",
          "cachedResultName": "PharmaIA_Alert"
        },
        "sheetName": {
          "__rl": true,
          "value": "Estoque",
          "mode": "name"
        },
        "options": {}
      },
      "id": "4e86c758-2b44-4400-a3b5-5351a00f75c2",
      "name": "Read Stock Tool",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        336,
        32
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8wnMsRyH0yhIeptt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU",
          "mode": "list",
          "cachedResultName": "PharmaIA_Alert"
        },
        "sheetName": {
          "__rl": true,
          "value": 1503359951,
          "mode": "list",
          "cachedResultName": "Clientes interessados"
        },
        "options": {}
      },
      "id": "41c78f9f-06e6-4e38-931c-62ba06b35e8d",
      "name": "Read Clients Tool",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        480,
        16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8wnMsRyH0yhIeptt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU",
          "mode": "list",
          "cachedResultName": "PharmaIA_Alert"
        },
        "sheetName": {
          "__rl": true,
          "value": "Estoque",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Medicamento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('medicamento', 'Nome do medicamento') }}",
            "Quantidade": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('quantidade', 'Nova quantidade em estoque') }}"
          },
          "matchingColumns": [
            "Medicamento"
          ],
          "schema": [
            {
              "id": "Medicamento",
              "displayName": "Medicamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantidade",
              "displayName": "Quantidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "f7232c3a-f7ce-42d2-bb4f-9a05edf26ebe",
      "name": "Update Stock Tool",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        624,
        -32
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8wnMsRyH0yhIeptt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU",
          "mode": "list",
          "cachedResultName": "PharmaIA_Alert"
        },
        "sheetName": {
          "__rl": true,
          "value": 1503359951,
          "mode": "list",
          "cachedResultName": "Clientes interessados"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cliente', 'Nome do cliente') }}",
            "Telefone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone', 'Telefone do cliente') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', 'Email do cliente') }}",
            "Medicamento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('medicamento', 'Medicamento solicitado') }}",
            "Status": "Aguardando"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Medicamento",
              "displayName": "Medicamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "de0c5a33-d032-41ae-b996-04caa112e2e6",
      "name": "Add Client Tool",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        768,
        -80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8wnMsRyH0yhIeptt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU",
          "mode": "list",
          "cachedResultName": "PharmaIA_Alert",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Estoque",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -432,
        352
      ],
      "id": "305ee31d-5a0f-40e7-80d4-622eb36774f5",
      "name": "Ler Estoque",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8wnMsRyH0yhIeptt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU",
          "mode": "list",
          "cachedResultName": "PharmaIA_Alert",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1503359951,
          "mode": "list",
          "cachedResultName": "Clientes interessados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU/edit#gid=1503359951"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        352
      ],
      "id": "211e6e27-f86f-4614-bb8e-91d1e88c167c",
      "name": "Ler Clientes_interessados",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8wnMsRyH0yhIeptt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analise apenas o cliente atual recebido do Google Sheets.\n\nCliente: {{ $json.Cliente }}\nMedicamento: {{ $json.Medicamento }}\nStatus: {{ $json.Status }}\n\nVerifique nos dados do estoque se existe correspondência exata para o medicamento do cliente e se a quantidade disponível é maior que 0.\n\nDados do estoque:\n{{ JSON.stringify($items(\"Ler Estoque\").map(item => item.json)) }}\n\nGere uma mensagem somente se:\n- Status = \"Aguardando\"\n- Medicamento encontrado no estoque\n- Quantidade disponível maior que 0\n\nObjetivo da mensagem:\nInformar o cliente de forma direta que já é possível dar continuidade ao atendimento referente ao medicamento solicitado.\n\nA mensagem deve ser:\n- Curta\n- Direta\n- Profissional\n- Personalizada com o nome do cliente quando disponível\n- Escrita como um atendente experiente\n- Sem enrolação\n- Sem frases genéricas\n- Com foco em gerar resposta do cliente\n\nSe qualquer condição não for atendida, responda apenas:\nIGNORAR\n\nRetorne apenas a mensagem final ou IGNORAR.\n\nNão use markdown.\nNão use \\n.\nNão use listas.\nNão dê orientação médica.\nNão prometa reserva.\nNão invente informações.\nNão explique o raciocínio.\nNão mencione regras internas, estoque ou quantidade disponível.",
        "options": {
          "systemMessage": "Você é um agente de IA de uma farmácia. Sua função é verificar disponibilidade de medicamentos e gerar mensagens de notificação para clientes."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -48,
        208
      ],
      "id": "d32d0123-5a7b-4a3f-8393-3d08f1ff15e8",
      "name": "AI Agent",
      "executeOnce": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        368,
        720
      ],
      "id": "a202fe8c-a102-4527-8a7b-e6b276096f80",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -656,
        352
      ],
      "id": "6465155f-9080-40bb-975d-0d32b1c27e49",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e8a91731-c86b-45bc-8897-4999b4986a69",
              "leftValue": "={{ $json.output }}",
              "rightValue": "IGNORAR",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        384
      ],
      "id": "fd7bae89-c2c9-4de5-9905-c44c6c3d6024",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Ler Clientes_interessados').item.json.Email }}",
        "subject": "medicamento disponivel",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        848,
        256
      ],
      "id": "580d9f2f-48ce-409b-a879-2cb5dfd274c4",
      "name": "Send a message",
      "webhookId": "e859a94b-ddfb-406c-b718-fe3ef093fe27",
      "credentials": {
        "gmailOAuth2": {
          "id": "P1MLoe18C34Qap2g",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU",
          "mode": "list",
          "cachedResultName": "PharmaIA_Alert",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1503359951,
          "mode": "list",
          "cachedResultName": "Clientes_Interessados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU/edit#gid=1503359951"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Avisado",
            "row_number": "={{ $('Ler Clientes_interessados').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Medicamento",
              "displayName": "Medicamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        256
      ],
      "id": "cad65a98-735f-41f9-a422-424ee1d09bab",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8wnMsRyH0yhIeptt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU",
          "mode": "list",
          "cachedResultName": "PharmaIA_Alert",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1589698427,
          "mode": "list",
          "cachedResultName": "Log_Notificacoes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU/edit#gid=1589698427"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cliente": "={{ $('Ler Clientes_interessados').item.json.Cliente }}",
            "Medicamento": "={{ $('Ler Clientes_interessados').item.json.Medicamento }}",
            "Data": "={{ $now.format('dd/MM/yyyy HH:mm') }}",
            "Status": "Enviado",
            "Mensagem": "={{ $('AI Agent').item.json.output }}",
            "Motivo": ""
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Medicamento",
              "displayName": "Medicamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        256
      ],
      "id": "7328656e-2441-4799-bce9-b5b3c6b0c269",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8wnMsRyH0yhIeptt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 1589698427,
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cliente": "={{ $('Ler Clientes_interessados').item.json.Cliente }}",
            "Medicamento": "={{ $('Ler Clientes_interessados').item.json.Medicamento }}",
            "Data": "={{ $now.format('dd/MM/yyyy HH:mm') }}",
            "Status": "Ignorado",
            "Motivo": "Medicamento indisponível ou cliente não está aguardando"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Medicamento",
              "displayName": "Medicamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensagem",
              "displayName": "Mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Motivo",
              "displayName": "Motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        464
      ],
      "id": "1be27602-1390-4cea-bb79-cc53e163b7f2",
      "name": "Registrar Falha",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8wnMsRyH0yhIeptt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analise apenas o cliente atual recebido do Google Sheets.\n\nCliente: {{ $json.Cliente }}\nMedicamento: {{ $json.Medicamento }}\nStatus: {{ $json.Status }}\n\nVerifique nos dados do estoque se existe correspondência exata para o medicamento do cliente e se a quantidade disponível é maior que 0.\n\nDados do estoque:\n{{ JSON.stringify($items(\"Ler Estoque\").map(item => item.json)) }}\n\nGere uma mensagem somente se:\n- Status = \"Aguardando\"\n- Medicamento encontrado no estoque\n- Quantidade disponível maior que 0\n\nObjetivo da mensagem:\nInformar o cliente de forma direta que já é possível dar continuidade ao atendimento referente ao medicamento solicitado.\n\nA mensagem deve ser:\n- Curta\n- Direta\n- Profissional\n- Personalizada com o nome do cliente quando disponível\n- Escrita como um atendente experiente\n- Sem enrolação\n- Sem frases genéricas\n- Com foco em gerar resposta do cliente\n\nSe qualquer condição não for atendida, responda apenas:\nIGNORAR\n\nRetorne apenas a mensagem final ou IGNORAR.\n\nNão use markdown.\nNão use \\n.\nNão use listas.\nNão dê orientação médica.\nNão prometa reserva.\nNão invente informações.\nNão explique o raciocínio.\nNão mencione regras internas, estoque ou quantidade disponível.",
        "options": {
          "systemMessage": "Você é um agente de IA de uma farmácia. Sua função é verificar disponibilidade de medicamentos e gerar mensagens de notificação para clientes."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        368,
        544
      ],
      "id": "3ba769ac-c612-4b5d-829a-186131c6b5ea",
      "name": "AI Agent Gemini Fallback",
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.error }}",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        352
      ],
      "id": "e1847177-23ff-4ca1-bea9-426f186e73cc",
      "name": "OpenRouter Falhou?"
    },
    {
      "parameters": {
        "model": "openrouter/free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -48,
        400
      ],
      "id": "50397a37-49ee-4fac-8da3-947df59872d6",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "jhrBO09UHFk3ATtP",
          "name": "OpenRouter account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Pharmacy Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Pharmacy Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Pharmacy Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Read Stock Tool": {
      "ai_tool": [
        [
          {
            "node": "Pharmacy Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Read Clients Tool": {
      "ai_tool": [
        [
          {
            "node": "Pharmacy Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Stock Tool": {
      "ai_tool": [
        [
          {
            "node": "Pharmacy Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Client Tool": {
      "ai_tool": [
        [
          {
            "node": "Pharmacy Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ler Estoque": {
      "main": [
        [
          {
            "node": "Ler Clientes_interessados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Clientes_interessados": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Gemini Fallback",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Ler Estoque",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "OpenRouter Falhou?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registrar Falha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Falhou?": {
      "main": [
        [
          {
            "node": "AI Agent Gemini Fallback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Gemini Fallback": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6d4caa2b-d35f-4a8d-be23-29d57e0c1eec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f4b85c85003d07c5338c7f36bca93ca2b835cf38d0b7da6092c163757fa7d21"
  },
  "nodeGroups": [],
  "id": "7T3V3AUDVAz6MVyD",
  "tags": []
}