PharmaIA_Alert.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU",
          "mode": "list",
          "cachedResultName": "PharmaIA_Alert",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Estoque",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1232,
        2144
      ],
      "id": "6d19a286-12c5-4e0c-83a2-40c007abfea0",
      "name": "Ler Estoque",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8wnMsRyH0yhIeptt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU",
          "mode": "list",
          "cachedResultName": "PharmaIA_Alert",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1503359951,
          "mode": "list",
          "cachedResultName": "Clientes interessados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU/edit#gid=1503359951"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1456,
        2144
      ],
      "id": "51d237d0-c140-4d84-aef6-20a51f5c5b51",
      "name": "Ler Clientes_interessados",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8wnMsRyH0yhIeptt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 1589698427,
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cliente": "={{ $('Ler Clientes_interessados').item.json.Cliente }}",
            "Medicamento": "={{ $('Ler Clientes_interessados').item.json.Medicamento }}",
            "Data": "={{ $now.format('dd/MM/yyyy HH:mm') }}",
            "Status": "Ignorado",
            "Motivo": "Medicamento indisponível ou cliente não está aguardando"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Medicamento",
              "displayName": "Medicamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensagem",
              "displayName": "Mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Motivo",
              "displayName": "Motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2256,
        2240
      ],
      "id": "1f5986a4-426f-4e4f-b4c9-4e7f54ea503f",
      "name": "Registrar Falha",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8wnMsRyH0yhIeptt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá! Sou o assistente da farmácia. Posso ajudar você a:\n- Consultar disponibilidade de medicamentos\n- Cadastrar novos medicamentos no estoque\n- Verificar informações de clientes\n- Cadastrar interesse em medicamentos",
        "options": {
          "inputPlaceholder": "Digite sua pergunta...",
          "showWelcomeScreen": true,
          "getStarted": "Iniciar Conversa",
          "subtitle": "Consulte estoque e gerencie medicamentos",
          "title": "Assistente Farmácia",
          "responseMode": "streaming"
        }
      },
      "id": "43883830-c454-4f74-8e9c-a78235a92173",
      "name": "Gatilho de Chat",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        1312,
        1456
      ],
      "webhookId": "f0f2fc58-c52f-4d7c-b8a0-f51ab9bf4faa"
    },
    {
      "parameters": {
        "needsFallback": true,
        "options": {
          "systemMessage": "Você é um assistente de farmácia inteligente. Você tem acesso a ferramentas para:\n\n1. Ferramenta Ler Estoque - Consultar o estoque de medicamentos (retorna lista com Medicamento e Quantidade)\n2. Ferramenta Ler Clientes - Consultar clientes cadastrados (retorna Cliente, Telefone, Email, Medicamento, Status)\n3. Ferramenta Atualizar Estoque - Atualizar quantidade de medicamentos no estoque (requer medicamento e quantidade)\n4. Ferramenta Adicionar Cliente - Cadastrar cliente interessado em medicamento (requer cliente, telefone, email, medicamento)\n\nInstruções:\n- Sempre consulte o estoque antes de responder sobre disponibilidade\n- Quando um medicamento está com quantidade 0, ofereça cadastrar o cliente para notificação\n- Para cadastrar cliente, pergunte nome, telefone e email\n- Seja cordial, direto e profissional\n- Não invente informações - use apenas dados das ferramentas\n- Quando atualizar estoque, confirme a operação\n\nExemplos de uso:\n- \"Tem Dipirona?\" → Use Ferramenta Ler Estoque e informe a quantidade\n- \"Adicionar 20 unidades de Paracetamol\" → Use Ferramenta Atualizar Estoque\n- \"Qual o email do João?\" → Use Ferramenta Ler Clientes e busque o cliente\n- Cliente quer ser avisado → Use Ferramenta Adicionar Cliente após coletar dados"
        }
      },
      "id": "473a1cbc-9242-4a11-83e0-a9f5a68dcec4",
      "name": "Assistente da Farmácia",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1744,
        1456
      ]
    },
    {
      "parameters": {
        "model": "openrouter/free",
        "options": {}
      },
      "id": "0b539a19-1b77-4f29-8f2d-2b4afab11fef",
      "name": "Modelo de Chat OpenRouter",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1344,
        1664
      ],
      "credentials": {
        "openRouterApi": {
          "id": "6FfJWiDRUonudzWp",
          "name": "OpenRouter account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "bfe08625-cd32-4d24-b1f2-eeb13437f75d",
      "name": "Memória do Chat",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        1648,
        1680
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU",
          "mode": "list",
          "cachedResultName": "PharmaIA_Alert"
        },
        "sheetName": {
          "__rl": true,
          "value": "Estoque",
          "mode": "name"
        },
        "options": {}
      },
      "id": "4cf41c3b-5f31-41b7-8965-021b18d3dbd1",
      "name": "Ferramenta Ler Estoque",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1776,
        1680
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8wnMsRyH0yhIeptt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU",
          "mode": "list",
          "cachedResultName": "PharmaIA_Alert"
        },
        "sheetName": {
          "__rl": true,
          "value": 1503359951,
          "mode": "list",
          "cachedResultName": "Clientes interessados"
        },
        "options": {}
      },
      "id": "56b8fd51-536d-4977-81bc-0d0783aae024",
      "name": "Ferramenta Ler Clientes",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1888,
        1680
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8wnMsRyH0yhIeptt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU",
          "mode": "list",
          "cachedResultName": "PharmaIA_Alert"
        },
        "sheetName": {
          "__rl": true,
          "value": "Estoque",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Medicamento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('medicamento', 'Nome do medicamento') }}",
            "Quantidade": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('quantidade', 'Nova quantidade em estoque') }}"
          },
          "matchingColumns": [
            "Medicamento"
          ],
          "schema": [
            {
              "id": "Medicamento",
              "displayName": "Medicamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantidade",
              "displayName": "Quantidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "c0308884-eb2c-480e-a1f9-2cd4a344d315",
      "name": "Ferramenta Atualizar Estoque",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2032,
        1680
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8wnMsRyH0yhIeptt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU",
          "mode": "list",
          "cachedResultName": "PharmaIA_Alert"
        },
        "sheetName": {
          "__rl": true,
          "value": 1503359951,
          "mode": "list",
          "cachedResultName": "Clientes interessados"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cliente', 'Nome do cliente') }}",
            "Telefone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone', 'Telefone do cliente') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', 'Email do cliente') }}",
            "Medicamento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('medicamento', 'Medicamento solicitado') }}",
            "Status": "Aguardando"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Medicamento",
              "displayName": "Medicamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "6c005724-4a4b-463f-a3cc-e18a782be666",
      "name": "Ferramenta Adicionar Cliente",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2192,
        1664
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8wnMsRyH0yhIeptt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "05aeb131-f1b1-4a17-bc76-dc37a8dc46de",
      "name": "Gatilho de Agendamento",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1008,
        2144
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um atendente de farmácia. Siga as etapas abaixo na ordem exata.\n\nDADOS DO CLIENTE:\n- Nome: {{ $json.Cliente }}\n- Medicamento solicitado: {{ $json.Medicamento }}\n- Status: \"{{ $json.Status }}\"\n\nESTOQUE ATUAL:\n{{ JSON.stringify($items(\"Ler Estoque\").map(item => item.json)) }}\n\nETAPA 1 — VERIFICAÇÃO DE STATUS\nSe o campo Status não estiver vazio, responda apenas: IGNORAR\nProssiga somente se Status estiver vazio ou em branco.\n\nETAPA 2 — VERIFICAÇÃO DE ESTOQUE\nProcure no estoque acima um item cujo nome do medicamento seja idêntico a \"{{ $json.Medicamento }}\".\nSe não encontrar correspondência exata, responda apenas: IGNORAR\nSe encontrar, verifique se a quantidade disponível é maior que 0.\nSe a quantidade for 0 ou não informada, responda apenas: IGNORAR\n\nETAPA 3 — REDAÇÃO DA MENSAGEM\nTodas as condições foram atendidas. Escreva uma mensagem para o cliente informando que o medicamento está disponível e que ele pode dar continuidade ao atendimento.\n\nRegras obrigatórias da mensagem:\n- Use o nome do cliente se disponível\n- Curta (máximo 2 frases)\n- Direta e profissional\n- Incentive o cliente a responder ou comparecer\n- Sem markdown, sem listas, sem quebras de linha com \\n\n- Sem orientação médica\n- Sem mencionar estoque, quantidade ou regras internas\n- Sem inventar informações\n- Sem prometer reserva\n- Retorne apenas o texto da mensagem, nada mais\n",
        "needsFallback": true,
        "options": {
          "systemMessage": "Você é um agente de IA de uma farmácia. Sua função é verificar disponibilidade de medicamentos e gerar mensagens de notificação para clientes."
        }
      },
      "id": "bba31d30-c8fb-4dfb-a8f1-359246a4cf27",
      "name": "Agente de IA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1680,
        2144
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a17e634c-98ed-48aa-9db8-e6370dc65c31",
      "name": "Chat Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1696,
        2368
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "9JhdJGcjFIXhZ3xm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "69190bf5-c1cc-410a-b569-ef8f1d313778",
      "name": "Chat OpenRouter",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1824,
        2368
      ],
      "credentials": {
        "openRouterApi": {
          "id": "xkSc1dzijxjvou1s",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e8a91731-c86b-45bc-8897-4999b4986a69",
              "leftValue": "={{ $json.output }}",
              "rightValue": "IGNORAR",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8152450e-3358-45c5-97b7-24f8044732f7",
      "name": "Se",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2032,
        2144
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Ler Clientes_interessados').item.json.Email }}",
        "subject": "medicamento disponivel",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "id": "28de0062-0a15-4ede-a86a-5674e64e1fe0",
      "name": "Enviar mensagem",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2256,
        2048
      ],
      "webhookId": "fb7a6187-9094-480f-8b74-ee400ba07b43",
      "credentials": {
        "gmailOAuth2": {
          "id": "P1MLoe18C34Qap2g",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU",
          "mode": "list",
          "cachedResultName": "PharmaIA_Alert",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1503359951,
          "mode": "list",
          "cachedResultName": "Clientes_Interessados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU/edit#gid=1503359951"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Avisado",
            "row_number": "={{ $('Ler Clientes_interessados').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Medicamento",
              "displayName": "Medicamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "94c453d7-7534-430e-a7f5-a89fa32bf6af",
      "name": "Atualizar linha na planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2480,
        2048
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8wnMsRyH0yhIeptt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU",
          "mode": "list",
          "cachedResultName": "PharmaIA_Alert",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1589698427,
          "mode": "list",
          "cachedResultName": "Log_Notificacoes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O0il2zBV-4O81t5bb30GXcmTa_PMVhbJCcSjvnHWTJU/edit#gid=1589698427"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cliente": "={{ $('Ler Clientes_interessados').item.json.Cliente }}",
            "Medicamento": "={{ $('Ler Clientes_interessados').item.json.Medicamento }}",
            "Data": "={{ $now.format('dd/MM/yyyy HH:mm') }}",
            "Status": "Enviado",
            "Mensagem": "={{ $('Agente de IA').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Medicamento",
              "displayName": "Medicamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensagem",
              "displayName": "Mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Motivo",
              "displayName": "Motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "26aacbb2-639d-470f-9757-3f4948293620",
      "name": "Adicionar linha na planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2704,
        2048
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8wnMsRyH0yhIeptt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "30d94ed0-881b-49a3-b2f2-408d21f872e0",
      "name": "Modelod e chat Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1520,
        1680
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "9JhdJGcjFIXhZ3xm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "IMPORTANTE\nConfigure os dois modelos. Se quiser usar o Gemini, informe a API Key correta dele e preencha o campo do OpenRouter com qualquer valor. Para usar o OpenRouter, faça o inverso. Também é possível configurar ambos para funcionar com fallback real. Tanto para o agente quanto para o assistente.",
        "height": 192,
        "width": 448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        1904
      ],
      "typeVersion": 1,
      "id": "5fbd740f-2ee8-43c3-9daf-daf3b9345cd2",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Ler Estoque": {
      "main": [
        [
          {
            "node": "Ler Clientes_interessados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Clientes_interessados": {
      "main": [
        [
          {
            "node": "Agente de IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gatilho de Chat": {
      "main": [
        [
          {
            "node": "Assistente da Farmácia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo de Chat OpenRouter": {
      "ai_languageModel": [
        [
          {
            "node": "Assistente da Farmácia",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memória do Chat": {
      "ai_memory": [
        [
          {
            "node": "Assistente da Farmácia",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ferramenta Ler Estoque": {
      "ai_tool": [
        [
          {
            "node": "Assistente da Farmácia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ferramenta Ler Clientes": {
      "ai_tool": [
        [
          {
            "node": "Assistente da Farmácia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ferramenta Atualizar Estoque": {
      "ai_tool": [
        [
          {
            "node": "Assistente da Farmácia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ferramenta Adicionar Cliente": {
      "ai_tool": [
        [
          {
            "node": "Assistente da Farmácia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gatilho de Agendamento": {
      "main": [
        [
          {
            "node": "Ler Estoque",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de IA": {
      "main": [
        [
          {
            "node": "Se",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat OpenRouter": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de IA",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Se": {
      "main": [
        [
          {
            "node": "Enviar mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registrar Falha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensagem": {
      "main": [
        [
          {
            "node": "Atualizar linha na planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar linha na planilha": {
      "main": [
        [
          {
            "node": "Adicionar linha na planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelod e chat Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Assistente da Farmácia",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6404e2b2-e2f2-4b0a-abce-bbf1daeb4a6a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f4b85c85003d07c5338c7f36bca93ca2b835cf38d0b7da6092c163757fa7d21"
  },
  "nodeGroups": [],
  "id": "7T3V3AUDVAz6MVyD",
  "tags": []
}